@charset "utf-8";

@media screen and (min-width: 1145px) {
    #introduction {
        background-image: url(../../../imagens/limpeza-de-pele-fundo.jpg);
        background-position: 0 -30vw;
    }

    #intro-titulo {
        background-image: url(../../../imagens/limpeza-de-pele-titulo.svg);
    }

    #intro-text {
        left: -6em;
    }

    #sobre-image {
        content: url(../../../imagens/limpeza-de-pele-imagem1.jpg);
    }

    #aed-imagem1 {
        background-image: url(../../../imagens/aed-imagem1.png);
    }

    #aed-imagem2 {
        background-image: url(../../../imagens/aed-imagem2.png);
    }
}