@charset "utf-8";

@media screen and (min-width: 1145px) {
    #introducao {
        grid-template-columns: 30em auto;
    }

    #abordagem-box {
        grid-template-columns: 40% 60%;
    }

    #abordagem-text {
        grid-column: 2;
        width: 75%;
        margin-right: 25%;
    }

    #abordagem-image {
        grid-column: 1;
        grid-row: 1;
        margin-top: 0;
        width: clamp(20em, 25vw, 25em);
        height: clamp(20em, 25vw, 25em);
        margin-right: 3em;
    }
}