@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 1020px) {
    header {
        background-color: rgba(0, 106, 122, 0.438);
        position: fixed;
        top: 0;
        height: 5em;
        width: 100%;
        padding: 1px;
        z-index: 5;
    }

    #logodiv {
        width: 20em;
        margin-left: 30px;
        margin-top: 4px;
    }

    nav {
        width: 79%;
        height: 4em;
        margin-left: auto;
        position: relative;
        top: -4.3em
    }

    nav ul {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        align-items: center;
        height: 100%;

    }

    nav li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12vw;
        height: 70%;
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
    }

    a {
        text-decoration: none;
        color: white;
    }

    .load {
        position: absolute;
        bottom: 5px;
        width: 0vw;
        height: 2px;
        background-color: rgb(192, 164, 38);
    }

    .load.grow {
        animation: grow 0.3s ease-in;
        animation-fill-mode: forwards;
    }

    .load.shrink {
        animation: shrink 0.1s linear;
    }

    @keyframes grow {
        0% {
            width: 0vw;
        }

        100% {
            width: 11vw;
        }
    }

    @keyframes shrink {
        0% {
            width: 11vw;
        }

        100% {
            width: 0vw;
        } 
    }

    }