@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&family=Ledger&family=Magra:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

p {
    hyphens: auto;
}

:root {
    --menu-pos-initial: 1.2em;
    --menu-pos-final: 5.4em;
}

#logodiv img {
    width: 14em;
}

@media screen and (max-width: 799px) {
    header {
        background-color: rgba(0, 106, 122, 0.438);
        position: fixed;
        top: 0;
        height: 5em;
        width: 100%;
        padding: 1px;
        z-index: 5;
    }

    #logodiv {
        position: absolute;
        padding: 6px;
        z-index: 1;
    }

    nav {
        width: 14em;
        height: 70px;
        margin-left: auto;
        position: relative;
    }

    #menu {
        position: absolute;
        right: var(--menu-pos-initial);
        width: 50px;
        height: 50px;
        margin-top: 17px;
        border-radius: 35%;
        background-image: url(../imagens/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
    }

    #menu:active {
        background-color: rgba(0, 0, 0, 0.471);
        backdrop-filter: blur(1px);
    }

    nav.Open #menu {
        animation: menuOpen .8s ease-in-out;
        animation-fill-mode: forwards;
        right: var(--menu-pos-final);
    }

    nav::before {
        content: "";
        display: block;
        position: absolute;
        top: -1px;
        left: -75vw;
        width: 0;
        height: 0;
        background-color: rgba(0, 0, 0, 0.503);
        opacity: 0;
        z-index: -1;
    }

    nav.Open::before {
        animation: blackBG 0.7s ease-in;
        animation-fill-mode: forwards;
    }

    @keyframes blackBG {
        0% {
            opacity: 0;
            width: 150vw;
            height: 100vh;
        }

        100% {
            opacity: 1;
            width: 150vw;
            height: 100vh;
        }
    }

    nav.Closed::before {
        animation: noBlackBG 0.4s ease-out;
        animation-fill-mode: forwards;
    }

    @keyframes noBlackBG {
        0% {
            opacity: 1;
            width: 150vw;
            height: 100vh;
        }

        99% {
            opacity: 0;
            width: 150vw;
            height: 100vh;
        }

        100% {
            width: 0;
            height: 0;
        }
    }

    nav.Closed #menu {
        animation: menuClose 1s ease-in-out;
        animation-fill-mode: forwards;
        right: var(--menu-pos-initial);
    }

    nav.Closed::after {
        width: 6em;
    }

    @keyframes menuOpen {
        0% {
            transform: rotate(0deg);
            right: var(--menu-pos-initial);
        }

        75% {
            right: var(--menu-pos-final);
        }

        100% {
            transform: rotate(540deg);
            background-color: rgb(0, 94, 108);
        }
    }

    @keyframes menuClose {
        0% {
            transform: rotate(0deg);
            right: var(--menu-pos-final);
        }

        80% {
            right: var(--menu-pos-initial);
        }

        100% {
            transform: rotate(-540deg);
            background-color: transparent;
        }
    }

    nav > ul {
        list-style: none;
        /* visibility: hidden; */
        position: relative;
        top: -9px;
        height: 105vh;
        right: -100vw;
        background-color: rgb(0, 105, 122);
        padding-top: 85px;
        text-align: center;
        z-index: -1;
        transition: .2s;
    }

    nav.Open > ul {
        animation: openNav .7s ease-out;
        animation-fill-mode: forwards;
    }

    nav.Open + #nav-icons {
        left: 0.4em;
    }

    @keyframes openNav {
        0% {
            right: -100vw;
        }

        100% {
            right: 0vw;
        }
    }

    nav.Closed ul {
        animation: navClose 1s ease-in-out;
        animation-fill-mode: forwards;
    }

    nav.Closed + #nav-icons {
        left: -4em;
    }

    @keyframes navClose {
        0% {
            right: 0vw;
        }

        100% {
            right: -100vw;
        }
    }

    nav > ul > li:not(:empty) {
        color: rgb(221, 238, 235);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        height: fit-content;
    }

    :is(nav > ul > li > a, #special > p):active{
        background-color: rgb(6, 78, 90);
        -webkit-tap-highlight-color: none;
        user-select: none;
    }

    nav > ul > li > a, #special > p {
        display: block;
        text-decoration: none;
        color: rgb(221, 238, 235);
        background-color: rgb(0, 94, 108);
        margin-top: 2px;
        width: 100%;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-tap-highlight-color: transparent;
    }

    #nav-icons {
        background-color: rgb(1, 77, 89);
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
        border: 1px solid rgb(255, 166, 0);
        left: -4em;
        top: 6em;
        height: 12em;
        width: 3.5em;
        transition: left 0.7s ease-in-out;
    }

    .icons {
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        user-select: none;
        border-radius: 50%;
        width: 3.5em;
        height: 3.5em;
        transition: .5s;
    }

    .icons:active {
        background-color: rgba(0, 0, 0, 0.5);
        transform: scale(1.2);
        mix-blend-mode: unset;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
    }

    #instagram-icon {background-image: url(../imagens/instagram-logo.webp);}
    #facebook-icon {background-image: url(../imagens/facebook-logo.webp);}
    #whatsapp-icon {background-image: url(../imagens/whatsapp-logo.png);}

    #servicomenu {
        position: relative;
        top: 0px;
    }

    #menuList {
        background-color: rgb(241, 241, 241);
        border-top: 0;
        max-height: 0px;
        overflow: hidden;
        transition: 0.6s;
    }

    #menuList.openlist {
        max-height: 100vh;
        transition: 2s;
    }

    .opçao {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(241, 241, 241);
        height: 2em;
        cursor: pointer;
        transition: 0s;
        text-decoration: none;
    }

    .opçao > p {
        color: black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .categoria {
        width: 100%;
        height: 2em;
        cursor: pointer;
        user-select: none;
        display: flex;
        flex-direction: row;
    }

    :is(.categoria, .opçao):active {
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        background-color: lightgray;
    }

    .categoria > p {
        display: flex;
        position: relative;
        left: -5px;
        width: fit-content;
        margin-right: auto;
        color: black;
        justify-content: center;
        align-items: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .listSpan {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10px;
        text-align: start;
        margin-left: auto;
        margin-right: 8px;
        color: black;
        transition: 0.3s ease-in-out;
    }

    .listSpan::before {
        content: "﹥";
        font-size: clamp(0.7em, 0.7vw, 0.7vw);
    }

    .listSpan.rotate {
        rotate: 90deg;
    }

    .conteudo {
        max-height: 0vh;
        background-color: rgb(226, 226, 226);
        display: flex;
        flex-direction: column;
        overflow: hidden;
        user-select: none;
        transition: 0.9s ease-out;
    }

    .conteudo.show {
        max-height: 100vh;
        transition: 1.5s ease-out;
    }

    .conteudo > a {
        display: flex;
        color: rgb(0, 0, 0);
        text-align: start;
        text-decoration: none;
        font-size: 16px;
        height: 3em;
        align-items: center;
    }

    .conteudo > a:active {
        background-color: rgba(136, 212, 223, 0.675);
        -webkit-tap-highlight-color: transparent;
    }

    .conteudo > a::before {
        content: "•";
        font-size: 15px;
        color: rgb(0, 105, 122);
    }
    
    footer {
        background-color: #191919;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0.5em;
        font-family: "K2D", Arial, Helvetica, sans-serif;
        margin-top: 2em;
    }

    footer > #logo {
        max-width: 20em;
        color: #E0E0E0;
        font-weight: 100;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    footer > #logo > img {
        width: 100%;
        padding-bottom: 5px;
        border-bottom: 2px solid #D9D9D9;
    }

    footer > #logo > p {
        text-align: center;
        font-size: 15px;
        font-weight: 100;
    }

    footer > #logo > a {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        color: orange;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }

    footer > #logo > a:hover > img {
        transform: scale(1.2);
    }

    footer > #logo > a > img {
        width: 20px;
        transition: 0.2s;
    }

    footer > #logo > a > p {
        margin-left: 5px;
        transition: 0.2s;
    }

    footer > #redes-sociais {
        height: fit-content;
        transform: translateY(10px);
        display: flex;
        flex-direction: row;
        padding: 5px;
        gap: 20px;
    }

    footer > #redes-sociais a {
        display: flex;
        align-items: center;
        color: #D1D1D1;
        font-size: 15px;
        filter: drop-shadow(0px 0px 4px rgb(52, 104, 139));
    }

    footer > #redes-sociais p {display: none;}

    footer > #redes-sociais a > img {transition: 0.15s linear;}

    footer > #redes-sociais a:active > img {transform: scale(1.3);}

    #f-instagram img {width: 60px;}
    #f-whatsapp img {width: 60px;margin-top: -2px;}
    #f-facebook img {width: 60px;}

    #f-sobre {
        width: fit-content;
    }

    #f-sobre > p {
        color: #C9A45C;
        font-weight: light;
        font-size: 30px;
        text-shadow: 0px 0px 8px #975f15b6;
        background-image: linear-gradient(to bottom, transparent 90%, rgb(0, 105, 122) 90%, rgba(0, 0, 0, 0));
        width: fit-content;
        height: fit-content;
        margin: auto;
    }

    #f-sobre-box {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 1.5em;
    }

    #f-sobre-box > hr {
        width: 80vw;
        max-width: 23em;
        height: 2px;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 1em;
        background-color: #2B2B2B;
        border: 0;
    }

    .f-sobre-box-content > h2 {
        color: #D7D7D7;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .f-sobre-box-content > h2::before {
        content: "• ";
        color: rgb(0, 105, 122);
    }

    .f-sobre-box-content > p {
        max-width: 28em;
        color: #AAAAAA;
        text-align: justify;
        font-size: 14px;
    }

    /* #f-servicos {
        width: 20em;
        background-color: beige;
    }

    #f-servicos > h2 {
        text-align: center;
        color: rgb(184, 184, 184);
        background-color: #2B2B2B;
    }

    #f-servicos > a {
        color: green
    } */
}

@media screen and (min-width: 800px) {
    header {
        background-color: rgba(0, 106, 122, 0.438);
        position: fixed;
        display: flex;
        flex-direction: row;
        align-items: center;
        top: 0;
        height: 5em;
        width: 100%;
        padding: 1px;
        z-index: 5;
    }

    #logodiv {
        width: 14em;
        margin-left: 30px;
        margin-top: 4px;
    }

    nav {
        width: 79%;
        height: 4em;
        position: relative;
    }

    nav > ul {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(8vw, 1fr));
        align-items: center;
        height: 100%;

    }

    nav > ul > li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12vw;
        height: 70%;
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
    }

    a {
        text-decoration: none;
        user-select: none;
        color: white;
        transition: 0.3s;
    }

    nav li p {
        cursor: pointer;
        user-select: none;
        color: white;
        transition: 0.3s;
    }

    nav > ul > li > a:hover, nav > ul > li > p:hover {
        color: rgb(255, 228, 146);
    }

    #menuList {
        border-top: 0;
        margin-top: 2px;
        max-height: 0px;
        overflow: hidden;
        transition: 0.2s;
    }

    #menuList.openlist {
        max-height: 100vh;
        transition: 2s;
        transition-delay: .3s;
    }

    .opçao {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(241, 241, 241);
        height: 2em;
        cursor: pointer;
        transition: 0s;
    }

    .opçao > p {
        color: black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: clamp(0.5em, 1.5vw, 0.9em);
    }

    .categoria {
        background-color: rgb(241, 241, 241);
        width: 100%;
        height: 2em;
        cursor: pointer;
        user-select: none;
        display: flex;
        flex-direction: row;
    }

    .categoria:hover, .opçao:hover {
        background-color: lightgray;
    }

    .categoria > p {
        display: flex;
        position: relative;
        left: -5px;
        width: fit-content;
        margin-right: auto;
        color: black;
        justify-content: center;
        align-items: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: clamp(0.5em, 1.5vw, 0.9em);
    }

    .listSpan {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10px;
        text-align: start;
        margin-left: auto;
        margin-right: 8px;
        color: black;
        transition: 0.3s ease-in-out;
    }

    .listSpan::before {
        content: "﹥";
        font-size: clamp(0.55em, 0.5vw, 0.6vw);
    }

    .listSpan.rotate {
        rotate: 90deg;
    }

    .conteudo {
        max-height: 0vh;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        user-select: none;
        transition: 0.9s ease-out;
        background-color: rgb(0, 105, 122);
        box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.438);
    }

    .conteudo.show {
        max-height: 100vh;
        transition: 1.5s ease-out;
    }

    .conteudo > a {
        display: flex;
        text-align: start;
        color: white;
        font-size: clamp(0.4em, 1.1vw, 0.9em);
        height: 3em;
        align-items: center;
        width: 100%;
    }

    .conteudo > a::before {
        content: "•";
        font-size: 15px;
        color: rgb(255, 255, 255);
    }

    .conteudo > a:hover {
        background-color: rgba(33, 82, 95, 0.911);
    }

    .load {
        position: absolute;
        bottom: 5px;
        width: 0vw;
        height: 2px;
        background-color: rgb(192, 164, 38);
    }

    .load.grow {
        animation: grow 0.3s ease-in;
        animation-fill-mode: forwards;
    }

    .load.shrink {
        animation: shrink 0.1s linear;
    }

    @keyframes grow {
        0% {
            width: 0vw;
        }

        100% {
            width: 11vw;
        }
    }

    @keyframes shrink {
        0% {
            width: 11vw;
        }

        100% {
            width: 0vw;
        } 
    }

    #nav-icons {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        top: 0;
        right: 0;
        height: 100%;
        width: 13em;
    }

    .icons {
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        user-select: none;
        margin-left: 8px;
        border-radius: 50%;
        width: 3em;
        height: 3em;
        transition: .5s;
        filter: saturate(0.2)
    }

    .icons:hover {
        background-color: rgba(0, 0, 0, 0.5);
        transform: scale(1.5);
        filter: saturate(1);
        mix-blend-mode: unset;
        cursor: pointer;
    }

    #instagram-icon {background-image: url(../imagens/instagram-logo.webp);}
    #facebook-icon {background-image: url(../imagens/facebook-logo.webp);}
    #whatsapp-icon {background-image: url(../imagens/whatsapp-logo.png);}

    footer {
        background-color: #191919;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0.5em;
        font-family: "K2D", Arial, Helvetica, sans-serif;
        margin-top: 2em;
    }

    footer > #logo {
        width: 20em;
        color: #E0E0E0;
        font-weight: 100;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    footer > #logo > img {
        width: 100%;
        padding: 5px;
        border-bottom: 2px solid #D9D9D9;
    }

    footer > #logo > p {
        text-align: center;
        font-size: 15px;
        font-weight: 100;
    }

    footer > #logo > a {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        color: orange;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 12px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer > #logo > a:hover {
        text-decoration: underline;
    }

    footer > #logo > a:hover > img {
        transform: scale(1.2);
    }

    footer > #logo > a > img {
        width: 20px;
        transition: 0.2s;
    }

    footer > #logo > a > p {
        margin-left: 5px;
        transition: 0.2s;
    }

    footer > #redes-sociais {
        background-image: linear-gradient(to right, white, transparent 4%);
        height: fit-content;
        margin-left: 20px;
        transform: translateY(40px);
    }

    footer > #redes-sociais a {
        display: flex;
        align-items: center;
        margin-left: 8px;
        color: #D1D1D1;
        font-size: 15px;
    }

    footer > #redes-sociais a > img, footer > #redes-sociais a > p {transition: 0.15s linear;}

    footer > #redes-sociais a:hover > img {transform: scale(1.3);}

    footer > #redes-sociais a:hover > p {color: orange; transform: translateX(3px);}

    #f-instagram img {width: 30px;}
    #f-whatsapp img {width: 30px;}
    #f-facebook img {width: 30px;}

    #f-sobre {
        width: fit-content;
    }

    #f-sobre > p {
        color: #C9A45C;
        font-weight: light;
        font-size: 30px;
        text-shadow: 0px 0px 8px #975f15b6;
        background-image: linear-gradient(to bottom, transparent 90%, rgb(0, 105, 122) 90%, rgba(0, 0, 0, 0));
        width: fit-content;
        height: fit-content;
        margin: auto;
    }

    #f-sobre-box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1.5em;
    }

    #f-sobre-box > hr {
        height: 10em;
        margin: auto;
        margin-right: 20px;
        margin-left: 20px;
        background-color: #2B2B2B;
        border: 0;
        width: 2px;
    }

    .f-sobre-box-content > h2 {
        color: #D7D7D7;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .f-sobre-box-content > h2::before {
        content: "• ";
        color: rgb(0, 105, 122);
    }

    .f-sobre-box-content > p {
        width: 25vw;
        max-width: 28em;
        color: #AAAAAA;
        text-align: justify;
        font-size: 14px;
    }

    /* #f-servicos {
        width: 20em;
        background-color: beige;
    }

    #f-servicos > h2 {
        text-align: center;
        color: rgb(184, 184, 184);
        background-color: #2B2B2B;
    }

    #f-servicos > a {
        color: green
    } */
    }