@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Jomolhari&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Karla:ital,wght@0,200..800;1,200..800&family=Mohave:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    overflow-x: hidden;
}

@media screen and (max-width: 1144px) {
    #introduction {
        background-color: rgb(0, 105, 122);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 34em;
        padding: 1px;
    }

    #intro-text {
        margin-top: 8em;
    }

    #intro-titulo {
        object-fit: contain;
        display: block;
        margin: auto;
        width: 95%;
        max-width: 45em;
    }

    #intro-topico {
        display: flex;
        flex-direction: row;
        margin: auto;
        margin-top: 20px;
        width: 90%;
        max-width: 42em;
    }

    #intro-linha-container {
        width: 1em;
        height: 7em;
    }

    #intro-linha {
        background-color: white;
        margin: auto;
        width: .2em;
        animation: growTopic 2s linear;
        animation-fill-mode: forwards;
        animation-delay: .5s;
    }

    @keyframes growTopic {
        0% {
            height: 0;
        }
        100% {
            height: 100%;
        }
    }

    #intro-topico > ul {
        font-family: "K2D", Arial, Helvetica, sans-serif;
        list-style-type: none;
        color: white;
        text-shadow: 0px 0px 10px black;
        height: 7em;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2px;
    }

    #intro-topico > ul > li {
        display: flex;
        align-items: center;
        opacity: 0;
    }

    #l1 {animation: showTopic 1s linear; animation-fill-mode: forwards; animation-delay: .7s}
    #l2 {animation: showTopic 1s linear; animation-fill-mode: forwards; animation-delay: 1.1s}
    #l3 {animation: showTopic 1s linear; animation-fill-mode: forwards; animation-delay: 1.5s}
    #l4 {animation: showTopic 1s linear; animation-fill-mode: forwards; animation-delay: 1.9s}
    #l5 {animation: showTopic 1s linear; animation-fill-mode: forwards; animation-delay: 2.3s}

    @keyframes showTopic {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    #sobre {
        display: flex;
        flex-direction: column-reverse;
    }

    main h2 {
        font-family: "K2D", Arial, Helvetica, sans-serif;
        text-align: center;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 30px;
        width: 90%;
    }

    main p {
        font-family: "Karla";
        font-size: 18px;
        text-align: justify;
        margin: auto;
        width: 95%;
    }

    #sobre-image {
        object-fit: cover;
        width: 90%;
        max-width: 30em;
        height: 20em;
        margin: auto;
        margin-top: 10px;
    }

    #aed-imagens {
        background-image: linear-gradient(to right, rgb(0, 105, 122), rgb(38, 145, 161));
        padding: 1px;
    }

    .aed-imagem {
        width: 90%;
        max-width: 25em;
        height: 20em;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 7px;
    }

    #link {
        background-color: rgb(0, 105, 122);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Jost", Arial, Helvetica, sans-serif;
        margin: auto;
        margin-top: 15px;
        user-select: none;
        cursor: pointer;
        font-size: 20px;
        width: 11em;
        height: 3.5em;
        text-decoration: none;
        color: white;
    }

    #link:active, #link:hover {
        background-color: rgb(60, 147, 160);
    }
}

@media screen and (min-width: 800px) and (max-width: 1144px) {
    #intro-titulo {
        margin-left: 1em;
    }

    #intro-topico {
        margin-left: 1.5em;
        font-size: 20px;
    }
}

@media screen and (min-width: 1145px) {
    #introduction {
        background-repeat: no-repeat;
        background-size: cover;
        height: 90vh;
    }

    #intro-text {
        position: relative;
        width: fit-content;
        padding: 21vh;
    }

    #intro-titulo {
        width: 45em;
        height: 12em;
    }

    #intro-topico {
        display: flex;
        flex-direction: row;
        height: 30vh;
    }

    #intro-linha-container {
        width: 2em;
        height: 100%;
    }

    #intro-linha {
        background-color: white;
        margin: auto;
        width: .2em;
        animation: growTopic 2s linear;
        animation-fill-mode: forwards;
        animation-delay: .5s;
    }

    @keyframes growTopic {
        0% {
            height: 0;
        }
        100% {
            height: 100%;
        }
    }

    #intro-topico > ul {
        list-style: none;
        display: grid;
        font-family: "K2D", Arial, Helvetica, sans-serif;
        color: white;
        text-shadow: 0px 0px 10px black;
        font-size: 25px;
        width: 100%;
    }

    #intro-topico > ul > li {
        display: flex;
        align-items: center;
        opacity: 0;
    }

    #l1 {animation: showTopic 1s linear; animation-fill-mode: forwards; animation-delay: .7s}
    #l2 {animation: showTopic 1s linear; animation-fill-mode: forwards; animation-delay: 1.1s}
    #l3 {animation: showTopic 1s linear; animation-fill-mode: forwards; animation-delay: 1.5s}
    #l4 {animation: showTopic 1s linear; animation-fill-mode: forwards; animation-delay: 1.9s}
    #l5 {animation: showTopic 1s linear; animation-fill-mode: forwards; animation-delay: 2.3s}

    @keyframes showTopic {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    #sobre {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        height: 35em;
    }

    #sobre-image {
        object-fit: cover;
        position: relative;
        width: 80%;
        height: 80%;
        margin: auto;
        opacity: 0;
    }

    #sobre-image.animating {
        animation: bottom-to-top 1s ease-in-out;
        animation-fill-mode: forwards;
    }

    @keyframes bottom-to-top {
        0% {
            top: 20vh;
            opacity: 0;
        }

        100% {
            top: 1vh;
            opacity: 1;
        }
    }

    #sobre-text {
        width: 90%;
        height: 80%;
    }

    #sobre-text > h2 {
        font-family: "Jost", Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 10px;
        text-align: center;
        position: relative;
        opacity: 0;
    }

    #sobre-text.animating > h2 {
        animation: right-to-left 1s ease-out;
        animation-fill-mode: forwards;
        animation-delay: 0.5s;
    }

    @keyframes right-to-left {
        0% {
            left: 20vw;
            opacity: 0;
        }

        100% {
            left: 1vw;
            opacity: 1;
        }
    }

    #sobre-text > p {
        font-family: "Jost", Arial, Helvetica, sans-serif;
        font-size: 18px;
        text-align: justify;
        position: relative;
        opacity: 0;
    }

    #sobre-text.animating > p:nth-of-type(1) {animation: right-to-left 1s ease-out; animation-fill-mode: forwards; animation-delay: 1s;}
    #sobre-text.animating > p:nth-of-type(2) {animation: right-to-left 1s ease-out; animation-fill-mode: forwards; animation-delay: 1.5s;}
    #sobre-text.animating > p:nth-of-type(3) {animation: right-to-left 1s ease-out; animation-fill-mode: forwards; animation-delay: 2s;}
    #sobre-text.animating > p:nth-of-type(4) {animation: right-to-left 1s ease-out; animation-fill-mode: forwards; animation-delay: 2.5s;}

    #antes-e-depois {
        height: 25em;
    }

    #antes-e-depois > h2 {
        font-family: "K2D", Arial, Helvetica, sans-serif;
        text-align: center;
        margin-bottom: 10px;
        font-size: 40px;
        font-weight: 400;
    }

    #aed-imagens {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to right, rgb(0, 105, 122), rgb(38, 145, 161));
        gap: 5em;
        height: 23em;
    }

    #aed-imagens.animating > #aed-imagem1 {animation: left-to-right 1s ease-out; animation-fill-mode: forwards}
    #aed-imagens.animating > #aed-imagem2 {animation: right-to-left 1s ease-out; animation-fill-mode: forwards}

    @keyframes left-to-right {
        0% {
            right: 20vw;
            opacity: 0;
        }

        100% {
            right: 1vw;
            opacity: 1;
        }
    }

    .aed-imagem {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border: 5px solid white;
        position: relative;
        opacity: 0;
        width: 25em;
        height: 20em;
    }

    .aed-imagem::before {
        content: "Antes";
        display: inline-block;
        position: relative;
        bottom: -85%;
        left: 15%;
        font-size: 30px;
        color: white;
        text-shadow: 0px 0px 3px black;
    }

    .aed-imagem::after {
        content: "Depois";
        display: inline-block;
        position: relative;
        bottom: -85%;
        left: 50%;
        font-size: 30px;
        color: white;
        text-shadow: 0px 0px 3px black;
    }


    #procedimento {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        height: 36em;
    }

    #procedimento-text {
        margin-left: auto;
        width: 80%;
    }

    #procedimento-text > h2 {
        font-family: "K2D", Arial, Helvetica, sans-serif;
        font-size: 30px;
        margin-bottom: 10px;
        position: relative;
        text-align: center;
        opacity: 0;
    }

    #procedimento.animating > #procedimento-text > h2 {
        animation: bottom-to-top 1s ease-out;
        animation-fill-mode: forwards;
    }

    #procedimento-text > p {
        font-family: "Jost", Arial, Helvetica, sans-serif;
        text-align: justify;
        position: relative;
        font-size: 18px;
        opacity: 0;
    }

    #procedimento.animating > #procedimento-text > p {
        animation: bottom-to-top 1s ease-out;
        animation-fill-mode: forwards;
        animation-delay: .5s;
    }

    #link {
        background-color: rgb(0, 105, 122);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Jost", Arial, Helvetica, sans-serif;
        margin: auto;
        margin-top: 15px;
        user-select: none;
        cursor: pointer;
        font-size: 20px;
        width: 11em;
        height: 3.5em;
        opacity: 0;
    }

    #link:hover {
        background-color: rgb(60, 147, 160);
    }

    #procedimento.animating #link {
        animation: bottom-to-top 1s ease-out;
        animation-fill-mode: forwards;
        animation-delay: 1s;
    }

    #procedimento-image {
        content: url(../../imagens/blefaroplastia-teste.jpeg);
        object-position: center;
        object-fit: cover;
        position: relative;
        width: clamp(10em, 80%, 50em);
        height: 30em;
        margin-left: 30px;
        opacity: 0;
    }

    #procedimento.animating > #procedimento-image {
        animation: right-to-left 1s ease-in-out;
        animation-fill-mode: forwards;
    }

    footer {
        background-color: black;
        height: 7em;
    }
}