@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Jomolhari&family=Karla:ital,wght@0,200..800;1,200..800&family=Mohave:ital,wght@0,300..700;1,300..700&display=swap');

@media screen and (min-width: 1145px) {
    #introduction {
        background-color: rgb(184, 138, 138);
        display: grid;
        grid-template-columns: calc(30% - 10vh) calc(70% + 10vh);
        height: 85vh;
    }

    #text-container {
        background-color: rgb(0, 105, 122);
        z-index: 1;
    }

    #text {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: calc(50% - 6vw);
        left: calc(1vw + calc(10em - 7vw));
        width: clamp(31em, calc(45vw - 7vh), 50em);
        height: 70%;
    }

    #text > h1 {
        color: white;
        font-family: "Mohave", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 1;
        font-style: italic;
        font-size: clamp(2rem, 4em, 4rem);
        border-bottom: 1px solid white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.575);
        text-align: center;
        width: 3em;
        height: 1.1em;
    }

    #text > p:nth-of-type(1) {
        color: #A48C5D;
        font-family: Arial, Helvetica, sans-serif;
        font-size: clamp(1rem, 2em, 1.5rem);
        margin-top: 5px;
        text-align: center;
    }

    #text > p:nth-of-type(2) {
        color: white;
        font-family: "Karla", Arial, Helvetica, sans-serif;
        font-size: 40px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.575);
        text-align: center;
    }

    #foto-container {
        background-image: url(../../imagens/rpg-teste.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }


    #svg-container {
        background-image: url(../../imagens/triangle.svg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        left: -0.5vw;
        height: 100%;
    }

    #cursos {
        height: 50em;
        background-color: white;
    }

    #seletor {
        height: 20em;
        padding: 1px;
    }

    #seletor > h2 {
        background-color: rgba(0, 106, 122, 0.836);
        border-radius: 55px 0px;
        border: 2px solid rgba(17, 17, 17, 0.245);
        text-align: center;
        font-family: "Mohave", Arial, Helvetica, sans-serif;
        font-style: oblique;
        font-weight: 1;
        font-size: 50px;
        width: fit-content;
        color: rgb(255, 255, 255);
        text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.819);
        margin: auto;
        margin-top: 30px;
        padding: 20px;
    }

    #cursos-desc {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 30px;
        height: 50em;
        overflow: hidden;
    }
    
    #cursos-text {
        background-color: rgba(0, 128, 0, 0.425);
        width: 40vw;
        height: 40em;
    }

    #cursos-text > h2 {
        font-family: "Mohave", Arial, Helvetica, sans-serif;
        font-size: 45px;
        text-align: center;
    }

    #cursos-text > p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 30px;
        text-align: justify;
    }

    #cursos-image-container {
        position: relative;
        width: 40vw;
        height: 40em;
        overflow: hidden;
    }

    #cursos-image-container::before {
        content: "";
        display: block;
        position: absolute;
        background-image: linear-gradient(to bottom, transparent 0%, rgb(0, 105, 122) 5%, white 10%);
        width: 40vw;
        height: 48em;
        z-index: 1;
        transform: translate(0, -8em);
    }

    #cursos-image-container.animating::before {
        animation: smoothAppear 1.5s linear;
        animation-fill-mode: forwards;
    }

    #cursos-image-container.animating #cursos-image {
        opacity: 1;
    }

    @keyframes smoothAppear {
        100% {
            transform: translate(0, 44em);
        }
    }

    #cursos-image {
        position: relative;
        background-image: url(../../imagens/idosa-crosspilates.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        transition: opacity 0.75s;
        opacity: 0;
    }
}