@charset "utf-8";

@media screen and (min-width: 1145px) {
    section {
        background-color: gray;
        margin-top: 6em;
        text-align: center;
    }

    article {
        background-color: purple;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35em;
        padding: 1px;
    }
    
    main div {
        background-color: rgba(0, 255, 255, 0.347);
        padding: 20px;
        width: 90vw;
        height: 27em;
        text-align: start;
    }
}