@media screen and (max-width: 1530px) {
    .section3-list-box-big:nth-of-type(2) {
        display: none;
    }
}

@media screen and (max-width: 1125px) {
    #hero-logos {
        margin-left: 1rem;
    }
    
    .section3-list-box-big {
        display: none;
    }
}

@media screen and (max-width: 1030px) {
    #hero {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: fit-content;
        padding: 0;
        overflow: hidden;
    }

    #hero-text {
        grid-row: 2;
        margin: 0 auto;
    }

    #hero-text-container {
        width: 100%;
        max-width: 550px;
        margin: 0 auto;
        transform: translateY(-2rem);
    }

    #hero-text-container h1 {
        width: fit-content;
        margin: auto;
        margin-bottom: 2rem;
    }

    #hero-text-container p {
        width: 91%;
        margin: auto;
        text-align: justify;
    }

    #hero-button {
        margin: 2rem auto 0 auto;
    }

    #hero-button p {
        text-align: center;
    }

    #hero-image {
        height: 45rem;
        margin: auto;
        transform: translate(5rem, -2rem);
        mask-image: linear-gradient(to bottom, black 75%, transparent 99%);
    }

    #hero-logos {
        margin: auto;
        transform: translateY(-4rem);
    }

    #hero-light1 {
        display: none;
    }

    #hero-light2 {
        transform: translate(6rem, 16rem);
    }

    #section1 {
        height: fit-content;
        padding-bottom: 3rem;
    }

    #section1-light1 {
        position: absolute;
        transform: translate(-55rem, -90rem);
    }

    #section1-light2 {
        position: absolute;
        right: 0;
        transform: translate(65rem, -60rem);
    }

    #section2-ignore-block {
        height: 105rem;
    }

    #section2 {
        height: 105rem;
    }

    #section2-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 0;
    }

    #section2-text {
        grid-row: 2;
        margin: 0 auto;
    }

    #section2-text-container {
        margin: auto;
    }

    #section2-text h1 {
        font-size: 52px;
        width: fit-content;
        margin: 1rem auto 2rem auto;
        font-weight: 300;
    }

    #section2-text-border {
        padding: 0;
        transform: translateX(1rem);
    }

    #section2-text-border::before {
        transform: translate(-0.25rem, 7rem);
    }

    #section2-text p {
        width: 30rem;
        margin-left: 1rem;
    }
    
    #section2-image {
        width: 100%;
        max-width: 46rem;
        margin: 0 auto;
        margin-top: 3rem;
        mask-image: linear-gradient(to bottom, black 60%, transparent 99%);
    }

    #section2-rectangle {
        transform: translateX(clamp(20px, 8vw, 6rem));
    }

    #section2-michelle {
        margin: auto;
        background-position: -6.5rem -6rem;
        clip-path: none;
    }

    #section2-M::after {
        display: none;
    }

    #section3-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
        gap: 2rem;
    }

    #section3 > h1:nth-of-type(2) {
        padding: 1rem 0 1rem 0;
    }

    #section3-phones {
        width: 90%;
        margin: 1rem auto;
    }

    #section3-phones-user-list {
        transform: translateX(-2rem);
    }

    .section3-phones-user-list-user:nth-of-type(n + 2) {
        transform: translateX(calc(-2rem * var(--user-index)));
    }
}

@media screen and (max-width: 760px) {
    :root {
        /* Paleta de Cores */
        --cor-1: rgb(106, 128, 59);
        --cor-2: rgb(112, 127, 66);
        --cor-3: rgb(28, 28, 28);
        --cor-4: rgb(30, 30, 30);
        --cor-5: rgb(211, 211, 211);
        --cor-6: rgb(247, 247, 247);
        --cor-7: rgb(181, 165, 117);
    
        /* Fontes */
        --font-1: "Raleway", Arial, Helvetica, sans-serif;
        --font-1-h1-size: clamp(20px, 9.7vw, 40px);
        --font-1-p-size: 19px;
        --font-1-p-weight: 300;
    
        
        /* Global */
        --down-arrow: url("../../imagens/down.png");
        
        
        /* Hero Section */
        --hero-background: url("../../imagens/white-simple-textured-design-background.svg");
        --hero-image: url("../../imagens/michelle.png");
        --hero-check: url("../../imagens/check.png");
        --hero-arrow: url("../../imagens/next.png");
        --hero-logos: url("../../imagens/logo_seguranca.svg");
        --hero-section-padding: 0 4rem;
    
        --hero-grid-max-width: 650px;
    
        /* Section1 */
        --section1-container-max-width: 850px;
    
        /* Section2 */
        --section2-padding: 4rem 0 4rem 4rem;
        --section2-rectangle-background: url("../../imagens/michelle_produto.png");
        --section2-M: url("../../imagens/cursos_M.svg");
        --section2-michelle: url("../../imagens/michelle_M.png");
    
        /* Section3 */
        --section3-box-user: url("../../imagens/user.png");
        --section3-phones: url("../../imagens/cursos_pacientes.png");
        --section3-warning: url("../../imagens/warning.png");
    
        /* Footer */
        --footer-h1-font-size: 39px;
        --footer-p-font-size: 19px;
    }

    #hero {
        padding-bottom: 2rem;
    }

    #hero-image-rect {
        left: 50%;
        margin: none;
        transform: translate(-14rem);
    }

    #hero-badge {
        left: 50%;
        transform: translate(-10rem, 16rem);
    }

    #hero-logos {
        width: 90%;
        max-width: 28rem;
        transform: translateY(-1.4rem);
    }

    #hero-text-container h1 {
        width: fit-content;
        margin-left: 1.3rem;
        margin-bottom: 2rem;
        transform: translateY(20px);
    }

    #hero-text-container p {
        max-width: 32rem;
    }

    .custom-span::before {
        transform: translate(4.1rem, -3.6rem);
    }
    
    .custom-span::after {
        transform: translate(23.1rem, -0.3rem);
    }

    #hero-image {
        transform: none;
        height: 34rem;
        mask-image: linear-gradient(to bottom, black 75%, transparent 94%)
    }

    #hero-img {
        background-position: center -10rem;
    }

    #section1 h1 {
        font-size: 30px;
    }

    #section1-h1-span::before {
        transform: translate(-2.03rem, -2.9rem)
    }
    
    #section1-h1-span::after {
        transform: translate(11.3rem, -0.25rem)
    }

    #section1-light1 {
        transform: translate(-65rem, -90rem);
    }

    #section2 {
        height: fit-content;
        padding-bottom: 2rem;
    }

    #section2 h1 {
        font-size: 37px;
    }

    #section2-image {
        margin-top: 2rem;
        width: 130%;
        transform: translateX(-3rem);
    }

    #section2-michelle {
        background-position: center -6rem;
        background-size: 40rem;
        width: 100%;
    }

    #section2-light {
        transform: translate(8rem, 8rem);
    }

    #section2-text h1 {
        margin: 1rem auto 2rem 0.3rem;
        font-size: 34px;
    }

    #section2-text-container {
        transform: translateX(1rem);
    }

    .container-text-container {
        width: 100%;
        max-width: 700px;
    }

    #section2-text p {
        width: 90%;
        margin-left: 0;
    }

    #section2-text-border {
        transform: none;
        padding: 15px;
    }

    #section2-text-border::before {
        transform: translate(calc(-15px - 0.25rem), 7rem);
    }

    #section3 {
        padding-top: 2rem;
    }

    .section3-list-box-small p {
        font-size: 18px;
    }

    .section3-list-box-big p {
        font-size: 18px;
    }

    #section3-phones {
        height: 18rem;
    }

    #section3-phones-user-list {
        transform: translateX(3.6rem);
        height: 5rem;
    }

    #section3-phones-user-list p {
        transform: translate(-4rem, 4rem);

    }

    .section3-phones-user-list-user {
        width: 4rem;
        height: 4rem;
    }

    #section3-last-box-text-container h1 {
        font-size: 35px;
    }

    #section3-last-box-warning p {
        font-size: 11px;
    }

    #section3-button p {
        font-size: 18px;
    }

    #section3-button p strong {
        font-size: 18px;
    }

    #section3-light1 {
        left: 60%;
        transform: translateY(-20rem);
    }

    #section3-light2 {
        display: none;
    }

    #section3-light3 {
        right: 55%;
        transform: translateY(60rem);
    }

    #section3-light4 {
        left: 55%;
        transform: translateY(45rem);
    }

    .button-long > p {
        font-weight: 400 !important;
    }

    footer h1 {
        font-size: 36px;
    }

    .footer-text-box {
        width: 85%;
    }

    .footer-text-box p {
        text-indent: 10px;
    }
}

@media screen and (max-width: 415px) {
    .custom-span::before {
        display: none;
    }
    
    .custom-span::after {
        display: none;
    }
}