@charset "utf-8";

@media screen and (min-width: 1145px) {
    #introducao {
        grid-template-columns: 30em auto;
    }

    #principios-box {
        grid-template-columns: 60% 40%;
    }

    #principios-box-text {
        width: clamp(10em, 90%, 50em);
        justify-self: end;
        align-self: center;
        font-size: clamp(20px, 2vw, 27px);
    }

    #principios-box-text > p {
        width: 100%;
    }

    #principios-box-image {
        width: clamp(1px, 30vw, 30em);
        margin-left: 3em;
    }

    #indicacoes-box {
        display: grid;
        grid-template-columns: 60% 40%;
    }

    #indicacoes-box-text {
        justify-self: end;
        align-self: center;
        font-size: clamp(20px, 2vw, 27px);
    }

    #indicacoes-box-image {
        width: 35vw;
        height: 30em;
        background-size: cover;
    }

    #consulta {
        position: relative;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: "foto texto";
        height: 30em;
        overflow: hidden;
    }

    #consulta-text {
        grid-area: texto;
        justify-self: start;
        width: clamp(1px, 50vw, 50em);
    }

    #consulta-text > h2 {
        padding: 1em;
    }

    #consulta-image {
        grid-area: foto;
        width: 45vw;
        height: 90%;
        background-size: cover;
        justify-self: end;
    }

    #consulta::before, #consulta::after {
        content: "";
        display: block;
        background-color: #B0F4FF;
        position: absolute;
        right: 0;
        rotate: -45deg;
        width: 70em;
        height: 3em;
        z-index: -1;
    }
    
    #consulta::before {transform: translate(-5em, 30em);}
    #consulta::after {transform: translate(-10em, 37.5em);}
    
}