@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&family=Ledger&family=Magra:wght@400;700&display=swap');

@font-face {
    font-family: "KyivType";
    src: url(../../../fonts/KyivType/Dmitry\ Rastvortsev\ -\ KyivType\ Sans\ Light-.otf);
}

#introducao {
    display: grid;
    grid-template-columns: 100% auto;
    height: 85vh;
}

#intro-text {
    background-color: #00697A;
    height: 100%;
}

#intro-image {
    height: 100%;
    background-image: url(../../../imagens/rpg-introducao-image.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#intro-header {
    position: relative;
    width: fit-content;
    margin: auto;
    height: 0em;
    transform: translateY(15vh);
}

#intro-header-top {
    font-family: "K2D", Arial, Helvetica, sans-serif;
    color: #DFC592;
    width: fit-content;
    margin: auto;
    margin-bottom: 5px;
    font-size: 30px;
}

#intro-header-top::before {
    content: "";
    display: block;
    width: 120%;
    height: 1px;
    background-color: white;
    transform: translate(-10%, 1.4em);
}

#intro-header-main {
    font-family: "K2D", Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: 300;
    text-shadow: 4px 2px 5px rgb(0, 0, 0, 0.54);  
    color: white;
}

#intro-footer {
    background-color: #1B555C;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: calc(100% - 9em);
    height: 9em;
}

#intro-footer::before, #intro-footer::after {
    content: "";
    display: block;
    position: relative;
    background-color: #1B555C;
    height: 4px;
}

#intro-footer::before {
    top: -3em;
    left: 20%;
    width: 60%;
}
#intro-footer::after {
    top: -9em;
    left: 10%;
    width: 80%;
}

#intro-footer > p {
    color: white;
    font-family: "Magra";
    font-size: 21px;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.445);
    margin-bottom: 10px;
    margin-left: 20px;
}

#intro-footer > p::before {
    content: "";
    display: block;
    height: 2px;
    width: 2em;
    background-color: #FFC452;
    transform: translateY(1.5em);
}

.main-h2 {
    font-family: "KyivType", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 35px;
    padding: 1.5em;
}

#principios-box {
    display: grid;
    grid-template-columns: auto;
}

#principios-box-text {
    font-family: "Kulim Park", Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 20px;
    margin-bottom: 2em;
}

#principios-box-text > p {
    width: 90%;
    margin: auto;
}

#principios-box-image {
    background-image: url(../../../imagens/rpg-principios-box-image.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 25em;
}

#beneficios {
    background-color: #E6E6E6;
}

#beneficios-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1em;
    column-gap: 2em;
    justify-content: center;
}

.beneficios-box-item {
    width: 15em;
    height: fit-content;
    margin-bottom: 15px;
}

.beneficios-box-item::before {
    content: "";
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 11em;
    margin-bottom: 10px;
}

.beneficios-box-item::after {
    content: "";
    display: block;
    font-family: "Kulim Park", Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-align: center;
}

#beneficios-box-item1::before {background-image: url(../../../imagens/rpg-beneficios-box-item-dores-musculares.svg)}
#beneficios-box-item2::before {background-image: url(../../../imagens/rpg-beneficios-box-item-postura.svg)}
#beneficios-box-item3::before {background-image: url(../../../imagens/rpg-beneficios-box-item-flexivel.svg)}
#beneficios-box-item4::before {background-image: url(../../../imagens/rpg-beneficios-box-item-lesoes.svg)}
#beneficios-box-item5::before {background-image: url(../../../imagens/rpg-beneficios-box-item-estresse.svg)}

#beneficios-box-item1::after {content: "Alívio das Dores Musculares e Articulares";}
#beneficios-box-item2::after {content: "Correção da Postura";}
#beneficios-box-item3::after {content: "Aumento da Flexibilidade e Mobilidade";}
#beneficios-box-item4::after {content: "Prevenção de Lesões";}
#beneficios-box-item5::after {content: "Redução de Estresse";}

#indicacoes-box-text {
    font-family: "Kulim Park", Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
}

#indicacoes-box-text > p {
    width: 90%;
    margin: auto;
}

#indicacoes-box-text > ul > li {
    list-style-type: none;
    text-align: start;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
}

#indicacoes-box-text > ul > li::before {
    content: "• ";
}

#indicacoes-box-image {
    background-image: url(../../../imagens/rpg-indicacoes-box-image.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 20em;
}

#consulta-text {
    font-family: "Kulim Park", Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
}

#consulta-text > p {
    width: 90%;
    margin: auto;
}

#consulta-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12em;
    height: 3em;
    margin: auto;
    margin-top: 1em;
    text-decoration: none;
    color: white;
    background-color: rgb(0, 105, 122);
}

#consulta-image {
    background-image: url(../../../imagens/rpg-consulta-image.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 20em;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {
    background-color: black;
    height: 8em;
}