@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&family=Parisienne&family=Sail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lora:ital,wght@0,400..700 ;1.400..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --ProcedText-h2: "Josefin Sans";
}

@media screen and (min-width: 800px) and (max-width: 1144px) {
    #main {
        background-size: cover;
        background-image: url(../../imagens/floresta.jpg);
        height: 35em;
        padding: 0.1px;
    }

    #headText {
        width: 30em;
        height: 23em;
        margin: auto;
        margin-top: 8.5em;
    }

    .button {
        transition: 0.2s;
    }

    #headText > p {
        color: white;
        font-size: 60px;
        font-family: "Parisienne", "Arial";
        text-align: center;
    }

    #headText > a {
        display: flex;
        width: 12em;
        height: 4em;
        background-color: rgb(5, 68, 78);
        color: azure;
        border: 1px solid black;
        border-radius: 20px;
        margin: auto;
        margin-top: 3em;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: larger;
    }

    #sobre {
        height: 42em;
        padding: 1px;
        overflow: hidden;
    }

    #sobre > div:nth-child(1) {
        width: 80%;
        height: 40em;
        margin: auto;
        margin-top: 7em;
        display: grid;
        grid-template-columns: 3fr 4fr;
    }

    #proced1 {
        width: 45vw;
    }

    #proced1 > div {
        min-width: 20vw;
        max-width: 40vw;
        transition: 1s;
    }

    #proced1 > div > div:nth-child(1) {
        transition: 1s;
        opacity: 0;
        min-width: 20vw;
        max-width: 40vw;
    }

    #proced1 > div > div.animating {
        animation: left-to-right 1s ease-in-out;
        animation-fill-mode: forwards;
    }

    @keyframes left-to-right {
        0% {
            left: -20vw;
            opacity: 0;
        }

        100% {
            left: 1vw;
            opacity: 1;
        }
    }

    #proced1 > div:nth-child(1) {
        background-color: rgb(0, 105, 122);
        height: 22em;
        width: 70vw;
        position: absolute;
        top: 50em;
        left: 5em;
    }

    #proced1 > div:nth-child(1) > div {
        background-image: url(../../imagens/foto-principal-1.jpeg);
        background-position: center right;
        background-size: cover;
        box-shadow: -3px 4px 6px rgba(0, 0, 0, 0.425);
        width: 100%;
        height: 100%;
        position: relative;
        left: 4em;
        bottom: 3em;
    }

    #proced1Text {
        text-align: center;
        width: 40vw;
        position: relative;
        padding-top: 8em;
        transition: 1s;
        opacity: 0;
    }

    #proced1Text.animating {
        animation: bottom-to-top 1s ease-out;
        animation-fill-mode: forwards;
    }

    @keyframes bottom-to-top {
        0% {
            bottom: -20vh;
            opacity: 0;
        }

        100% {
            bottom: 1vh;
            opacity: 1;
        }
    }

    #proced1Text > h2 {
        font-size: 45px;
        margin-bottom: 15px;
        font-family: var(--ProcedText-h2);
    }

    #proced1Text > p {
        font-size: 20px;
        font-family: "Lora", Arial, Helvetica, sans-serif;
        text-align: justify;
    }

    #sobre > div:nth-child(2) {
        height: 40em;
        width: 25em;
        position: absolute;
        top: 60em;
        right: 0px;
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .decoracao {
        position: absolute;
        rotate: 45deg;
        height: 400px;
        width: 400px;
        right: -200px;
        border: 20px solid rgba(128, 128, 128, 0.326);
    }

    .decoracao2 {
        position: absolute;
        rotate: 45deg;
        height: 300px;
        width: 300px;
        right: -200px;
        border: 20px solid rgba(128, 128, 128, 0.326);
    }

    #sobre2 {
        height: 42em;
        overflow: hidden;
    }

    #sobre2 > div {
        width: 95%;
        height: 40em;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 3fr);
    }

    #proced2Text {
        text-align: center;
        position: relative;
        width: 40vw;
        opacity: 0;
        margin-top: 10em;
        margin: auto;
    }

    #proced2Text.animating {
        animation: bottom-to-top 1s ease-out;
        animation-fill-mode: forwards;
    }

    #proced2Text > h2 {
        margin-bottom: 15px;
        font-size: 45px;
        font-family: var(--ProcedText-h2);
    }

    #proced2Text > p {
        font-size: 20px;
        font-family: "Lora", Arial, Helvetica, sans-serif;
        text-align: justify;
    }

    #proced2 > div {
        min-width: 15vw;
        max-width: 40vw;
        height: 30em;
        background-color: rgb(0, 105, 122);
        position: relative;
        margin-top: 70px;
        transition: 1s;
    }

    #proced2 > div > div {
        background-image: url(../../imagens/proced2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        position: relative;
        right: 2em;
        top: 1.5em;
        box-shadow: 4px -4px 6px rgba(0, 0, 0, 0.349);
        transition: 1s;
        opacity: 0;
    }

    #proced2 > div > div.animating {
        animation: right-to-left 1s ease-in-out;
        animation-fill-mode: forwards;
    }

    @keyframes right-to-left {
        0% {
            right: -15vw;
            opacity: 0;
        }

        100% {
            right: 1.5vw;
            opacity: 1;
        }
    }
}

@media screen and (min-width: 1145px) {
    html, body {
        overflow-x: hidden;
    }

    #main {
        background-size: cover;
        background-image: url(../../imagens/floresta.jpg);
        height: 35em;
        padding: 0.1px;
    }

    #headText {
        width: 30em;
        height: 23em;
        margin-top: 8.5em;
        margin-left: 5em;
    }

    .button {
        transition: 0.2s;
    }

    #headText > p {
        color: white;
        font-size: 60px;
        font-family: "Parisienne", "Arial";
        text-align: center;
    }

    #headText > a {
        display: flex;
        width: 12em;
        height: 4em;
        background-color: rgb(5, 68, 78);
        color: azure;
        margin: auto;
        margin-top: 3em;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: larger;
    }

    #M {
        width: 25em;
        display: block;
        height: 25em;
        background-image: url(../../imagens/M.png);
        background-size: contain;
        position: absolute;
        right: 15vw;
        top: 7em;
    }

    #contorno {
        background-image: url(../../imagens/contorno.png);
        background-size: contain;
        width: 100%;
        height: 100%;
        animation: rotate 20s linear infinite
    }

    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    #sobre {
        height: 42em;
        padding: 1px;
        overflow: hidden;
    }

    #sobre > div:nth-child(1) {
        width: 80%;
        height: 40em;
        margin: auto;
        margin-top: 7em;
        display: grid;
        grid-template-columns: 3fr 4fr;
    }

    #proced1 {
        width: 30em;
    }

    #proced1 > div {
        min-width: 20vw;
        max-width: 40vw;
        transition: 1s;
    }

    #proced1 > div > div:nth-child(1) {
        transition: 1s;
        opacity: 0;
        min-width: 20vw;
        max-width: 40vw;
    }

    #proced1 > div > div.animating {
        animation: left-to-right 1s ease-in-out;
        animation-fill-mode: forwards;
    }

    @keyframes left-to-right {
        0% {
            left: -20vw;
            opacity: 0;
        }

        100% {
            left: 1vw;
            opacity: 1;
        }
    }

    #proced1 > div:nth-child(1) {
        background-color: rgb(0, 105, 122);
        height: 22em;
        width: 70vh;
        position: absolute;
        top: 50em;
        left: 5em;
    }

    #proced1 > div:nth-child(1) > div {
    background-image: url(../../imagens/foto-principal-1.jpeg);
    background-position: center right;
    background-size: cover;
    box-shadow: -3px 4px 6px rgba(0, 0, 0, 0.425);
    width: 100%;
    height: 100%;
    position: relative;
    left: 4em;
    bottom: 3em;
    }

    #proced1Text {
        text-align: center;
        width: 40vw;
        position:relative;
        padding-top: 5em;
        transition: 1s;
        opacity: 0;
    }

    #proced1Text.animating {
        animation: bottom-to-top 1s ease-out;
        animation-fill-mode: forwards;
    }

    @keyframes bottom-to-top {
        0% {
            bottom: -20vh;
            opacity: 0;
        }

        100% {
            bottom: 1vh;
            opacity: 1;
        }
    }

    #proced1Text > h2 {
        font-size: 44px;
        font-family: var(--ProcedText-h2);
        margin-bottom: 20px;
    }

    #proced1Text > p {
        font-size: 28px;
        font-family: "Lora", Arial, Helvetica, sans-serif;
        text-align: justify;
    }

    #sobre > div:nth-child(2) {
        height: 40em;
        width: 25em;
        position: absolute;
        top: 60em;
        right: 0px;
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .decoracao {
        position: absolute;
        rotate: 45deg;
        height: 400px;
        width: 400px;
        right: -200px;
        border: 20px solid rgba(128, 128, 128, 0.326);
    }

    .decoracao2 {
        position: absolute;
        rotate: 45deg;
        height: 300px;
        width: 300px;
        right: -200px;
        border: 20px solid rgba(128, 128, 128, 0.326);
    }

    #sobre2 {
        height: 42em;
        overflow: hidden;
    }

    #sobre2 > div {
        width: 95%;
        height: 40em;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 3fr);
    }

    #proced2Text {
        text-align: center;
        padding: 7em;
        position: relative;
        width: 40vw;
        opacity: 0;
    }

    #proced2Text.animating {
        animation: bottom-to-top 1s ease-out;
        animation-fill-mode: forwards;
    }

    #proced2Text > h2 {
        margin-bottom: 20px;
        font-size: 44px;
        font-family: var(--ProcedText-h2);
    }

    #proced2Text > p {
        font-size: 27px;
        font-family: "Lora", Arial, Helvetica, sans-serif;
        text-align: justify;
    }

    #proced2 > div {
        min-width: 15vw;
        max-width: 30vw;
        height: 30em;
        background-color: rgb(0, 105, 122);
        position: relative;
        left: 5em;
        margin-top: 70px;
        transition: 1s;
    }

    #proced2 > div > div {
        background-image: url(../../imagens/proced2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        position: relative;
        right: 2em;
        top: 1.5em;
        box-shadow: 4px -4px 6px rgba(0, 0, 0, 0.349);
        transition: 1s;
        opacity: 0;
    }

    #proced2 > div > div.animating {
        animation: right-to-left 1s ease-in-out;
        animation-fill-mode: forwards;
    }

    @keyframes right-to-left {
        0% {
            right: -15vw;
            opacity: 0;
        }

        100% {
            right: 1.5vw;
            opacity: 1;
        }
    }

    #estudio {
        position: relative;
        left: -4vw;
        background-image: linear-gradient(to bottom, rgb(1, 109, 126), rgb(4, 106, 122), rgb(2, 114, 131));
        height: 30em;
        width: 110vw;
        rotate: 7deg;
        overflow: hidden;
    }

    #estudio > div {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90vw;
        height: 400px;
        rotate: -7deg;
    }

    #estudio-foto {
        position: relative;
        top: -5vw;
        background-image: url(../../imagens/estudio-teste.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 80%;
        max-width: 50em;
        filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.467))
    }

    #estudio-desc {
        height: 100%;
        width: 80%;
        margin: auto;
    }

    #estudio-desc > h2 {
        position: relative;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-size: 40px;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.438);
        background-clip: text;
        color: rgba(255, 255, 255, 0.975);
        filter: drop-shadow(5px 5px 9px rgba(0, 0, 0, 0.467))
    }

    #estudio-desc > p {
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
    }

    #localizacao {
        height: 35em;
        padding: 1px;
        text-align: center;
    }

    #localizacao > div > iframe {
        margin: auto;
        height: 25em;
        width: 80%;
    }

    #localizacao > div:nth-child(1) > h2 {
        text-align: center;
        margin: auto;
        font-size: 40px;
        font-family: "Merienda";
        color: rgb(0, 105, 122);
        width: 200px;
    }

    #localizacao > div > p {
        margin: auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        text-align: center;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        height: 7em;
    }

    footer > p {
        color: white;
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 17px;
    }
}