@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&family=Parisienne&family=Sail&family=Kumbh+Sans:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lora:ital,wght@0,400..700 ;1.400..700&family=Jomolhari&display=swap');

@font-face {
    font-family: "KyivType";
    src: url(../../fonts/KyivType/Dmitry\ Rastvortsev\ -\ KyivType\ Sans\ Light-.otf);
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --ProcedText-h2: "Josefin Sans", Arial, Helvetica;
}
    
@media screen and (min-width: 800px) and (max-width: 1144px) {
    html, body {
        overflow-x: hidden;
    }
    
    #main {
        background-size: cover;
        background-image: url(../../imagens/floresta-tablet.jpg);
        height: 35em;
        padding: 0.1px;
    }

    #headText {
        width: 30em;
        height: 23em;
        margin: auto;
        margin-top: 8.5em;
    }

    .button {
        transition: 0.2s;
    }

    #headText > a:hover {
        background-color: rgb(69, 133, 141)
    }

    #headText > p {
        color: white;
        font-size: 60px;
        font-family: "Parisienne", "Arial";
        text-align: center;
    }

    #headText > a {
        display: flex;
        width: 12em;
        height: 4em;
        background-color: rgb(5, 68, 78);
        color: azure;
        border: 1px solid black;
        border-radius: 20px;
        margin: auto;
        margin-top: 3em;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: larger;
    }

    #headText-logo {
        background-image: url(../../imagens/instagram-logo.webp);
        background-size: contain;
        margin-left: 2px;
        width: 50px;
        height: 50px;
    }

    #sobre {
        height: 42em;
        padding: 1px;
        overflow: hidden;
    }

    #sobre > div:nth-child(1) {
        width: 80%;
        height: 40em;
        margin: auto;
        margin-top: 7em;
        display: grid;
        grid-template-columns: 3fr 4fr;
    }

    #proced1 {
        width: 45vw;
    }

    #proced1 > div {
        min-width: 20vw;
        max-width: 40vw;
        transition: 1s;
    }

    #img1 {
        transition: 1s;
        opacity: 0;
        min-width: 20vw;
        max-width: 40vw;
    }

    #img1.animating {
        animation: left-to-right 1s ease-in-out;
        animation-fill-mode: forwards;
    }

    @keyframes left-to-right {
        0% {
            left: -20vw;
            opacity: 0;
        }

        100% {
            left: 1vw;
            opacity: 1;
        }
    }

    #proced1 > div {
        background-color: rgb(0, 105, 122);
        height: 22em;
        width: 70vw;
        position: absolute;
        top: 50em;
        left: 5em;
    }

    #img1 {
        background-image: url(../../imagens/foto-principal-1.jpeg);
        background-position: center right;
        background-size: cover;
        box-shadow: -3px 4px 6px rgba(0, 0, 0, 0.425);
        width: 100%;
        height: 100%;
        position: relative;
        left: 4em;
        bottom: 3em;
    }

    #proced1Text {
        text-align: center;
        width: 40vw;
        position: relative;
        padding-top: 8em;
        transition: 1s;
        opacity: 0;
    }

    #proced1Text.animating {
        animation: bottom-to-top 1s ease-out;
        animation-fill-mode: forwards;
    }

    @keyframes bottom-to-top {
        0% {
            bottom: -20vh;
            opacity: 0;
        }

        100% {
            bottom: 1vh;
            opacity: 1;
        }
    }

    .interactive > h2 {
        font-size: 45px;
        font-family: var(--ProcedText-h2);
        margin: auto;
        margin-bottom: 15px;
        width: min-content;
        border-radius: 4px;
    }

    .interactive > p {
        font-size: 20px;
        font-family: "Lora", Arial, Helvetica, sans-serif;
        text-align: justify;
    }

    #sobre > div:nth-child(2) {
        height: 40em;
        width: 25em;
        position: absolute;
        top: 60em;
        right: 0px;
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .decoracao {
        position: absolute;
        rotate: 45deg;
        height: 400px;
        width: 400px;
        right: -200px;
        border: 20px solid rgba(128, 128, 128, 0.326);
    }

    .decoracao2 {
        position: absolute;
        rotate: 45deg;
        height: 300px;
        width: 300px;
        right: -200px;
        border: 20px solid rgba(128, 128, 128, 0.326);
    }

    #sobre2 {
        height: 42em;
        overflow: hidden;
    }

    #sobre2 > div {
        width: 95%;
        height: 40em;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 3fr);
    }

    #proced2Text {
        text-align: center;
        position: relative;
        width: 40vw;
        opacity: 0;
        margin-top: 10em;
        margin: auto;
    }

    #proced2Text.animating {
        animation: bottom-to-top 1s ease-out;
        animation-fill-mode: forwards;
    }

    #proced2 > div {
        min-width: 15vw;
        max-width: 40vw;
        height: 30em;
        background-color: rgb(0, 105, 122);
        position: relative;
        margin-top: 70px;
        transition: 1s;
    }

    #img2 {
        background-image: url(../../imagens/proced2.jfif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        position: relative;
        right: 2em;
        top: 1.5em;
        box-shadow: 4px -4px 6px rgba(0, 0, 0, 0.349);
        transition: 1s;
        opacity: 0;
    }

    #img2.animating {
        animation: right-to-left 1s ease-in-out;
        animation-fill-mode: forwards;
    }

    @keyframes right-to-left {
        0% {
            right: -15vw;
            opacity: 0;
        }

        100% {
            right: 1.5vw;
            opacity: 1;
        }
    }

    #estudio {
        position: relative;
        left: -10vw;
        background-color: rgb(0, 105, 122);
        height: 62em;
        width: 120vw;
        rotate: 7deg;
        z-index: -1;
    }

    #crosspilates {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90vw;
        height: 400px;
        rotate: -7deg;
    }

    #crosspilates-foto {
        position: relative;
        display: flex;
        gap: 2%;
        top: -5vw;
        height: 100%;
        max-width: 50em;
        filter: drop-shadow(5px 6px 7px rgba(0, 0, 0, 0.171));
        margin-top: 10px;
    }

    .e-fotos {
        background-size: 960%;
        background-repeat: no-repeat;
        height: 100%;
        width: 19%;
        text-align: center;
        box-shadow: inset -8px -9px 10px rgba(0, 0, 0, 0.438);
        border-right: 4px solid rgb(20, 84, 95);
        border-bottom: 3px solid rgb(21, 52, 61);
    }

    .e-fotos::before {
        content: "";
        position: absolute;
        width: 19%;
        height: 100%;
        opacity: 0;
        background-color: rgb(43, 100, 121);
        border-right: 4px solid rgb(20, 84, 95);
        border-bottom: 3px solid rgb(21, 52, 61);
        z-index: 2;
        transform: translateX(-50%);
        transition: 2s;
    }

    #ef-1::before {background-position: 14.1%; border-bottom-left-radius: 50px; animation: refresh 7s linear infinite; animation-delay: 4500ms}
    #ef-2::before {background-position: 28.2%; animation: refresh 7s linear infinite; animation-delay: 5000ms}
    #ef-3::before {background-position: 42.3%; animation: refresh 7s linear infinite; animation-delay: 5500ms}
    #ef-4::before {background-position: 56.4%; animation: refresh 7s linear infinite; animation-delay: 6000ms}
    #ef-5::before {background-position: 70.5%; border-top-right-radius: 50px; animation: refresh 7s linear infinite; animation-delay: 6500ms}

    #ef-1 {background-position: 14.1%; border-bottom-left-radius: 50px; animation: e1 7s linear infinite; animation-delay: 0ms;}
    #ef-2 {background-position: 28.2%; animation: e2 7s linear infinite; animation-delay: 500ms;}
    #ef-3 {background-position: 42.3%; animation: e3 7s linear infinite; animation-delay: 1000ms;}
    #ef-4 {background-position: 56.4%; animation: e4 7s linear infinite; animation-delay: 1500ms;}
    #ef-5 {background-position: 70.5%; border-top-right-radius: 50px; animation: e5 7s linear infinite; animation-delay: 2000ms;}

    @keyframes e1 {0% {background-position: 0%;} 100% {background-position: 14.1%;}}
    @keyframes e2 {0% {background-position: 14.1%;} 100% {background-position: 28.2%;}}
    @keyframes e3 {0% {background-position: 28.2%;} 100% {background-position: 42.3%;}}
    @keyframes e4 {0% {background-position: 42.3%;} 100% {background-position: 56.4%;}}
    @keyframes e5 {0% {background-position: 56.4%;} 100% {background-position: 70.5%;}}
    @keyframes refresh {0% {opacity: 0} 25% {opacity: 0;} 33% {opacity: 1} 37% {opacity: 1;} 70% {opacity: 0}}

    #crosspilates-desc {
        height: 100%;
        width: 80%;
        margin: auto;
    }

    .estudio-h2 {
        position: relative;
        margin: auto;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-size: 40px;
        filter: drop-shadow(1px 1px 3px rgb(0, 0, 0));
        border-bottom: 1px solid rgb(255, 255, 255);
        color: rgba(255, 255, 255, 0.975);
        width: 270px;
        margin-top: 10px;
    }

    .estudio-p {
        color: white;
        text-align: justify;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        margin-top: 10px;
    }

    #fotodep {
        position: relative;
        display: grid;
        height: 35vw;
        grid-template-columns: repeat(2, 1fr);
        rotate: -7deg;
        top: 30em;
    }

    #vetor {
        background-image: url(../../imagens/vetor.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    #fotodep-desc {
        width: fit-content;
        margin-left: auto;
    }

    #fotodep-desc > p {
        width: 38vw;
        text-align: justify;
    }

    #fotodep-container {
        position: absolute;
        overflow: hidden;
        top: -5em;
        border-radius: 10px;
        right: 15vw;
        height: 31em;
        width: 40vw;
    }

    #fotodep-container::before {
        content: "";
        display: block;
        position: absolute;
        left: -10vw;
        top: 2em;
        background-color: rgb(255, 255, 255);
        rotate: -10deg;
        width: 170%;
        height: 75%;
        z-index: -2;
        opacity: 0;
    }

    #fotodep-container.animating::before {
        animation: lineRotation 2s ease-out;
        animation-fill-mode: forwards;
    }

    @keyframes lineRotation {
        0% {
            opacity: 0;
            rotate: -10deg;
        }

        100% {
            opacity: 1;
            rotate: 30deg;
        }
    }

    #fotodep-container::after {
        content: "";
        display: block;
        position: absolute;
        border-radius: 10px;
        background-color: rgb(0, 105, 122);
        height: 99%;
        width: 99%;
        z-index: -1;
        transform: translate(0.115vw, 0.18em);
    }

    #fotodep-foto {
        background-image: url(../../imagens/fotodep.jpeg);
        background-size: cover;
        background-position: bottom;
        border-radius: 10px;
        position: absolute;
        top: .55em;
        width: 90%;
        height: 90%;
        transform: translate(1.9vw, 20em);
        opacity: 0;
    }

    #fotodep-container.animating #fotodep-foto {
        animation: depAppear 1.2s ease-out;
        animation-fill-mode: forwards;
    }

    @keyframes depAppear {
        0% {
            opacity: 0;
            transform: translate(1.9vw, 20em);
        }

        100% {
            opacity: 1;
            transform: translate(1.9vw, 1em);
        }
    }

    #fotodep::before {
        content: "";
        position: absolute;
        display: block;
        width: 105%;
        height: 105%;
        border-radius: 5px;
        transform: translate(-2.5%, -2.5%);
    }
}

@media screen and (min-width: 1145px) {
    html, body {
        overflow-x: hidden;
    }

    #main {
        background-size: cover;
        background-image: url(../../imagens/floresta.jpg);
        height: 35em;
        padding: 0.1px;
        overflow: hidden;
    }

    #headText {
        position: absolute;
        width: 30em;
        height: 23em;
        margin-top: 8.5em;
        margin-left: 5em;
        top: 0;
    }

    .button {
        transition: 0.2s;
    }

    #headText > p {
        color: white;
        font-size: 60px;
        font-family: "Parisienne", "Arial";
        text-align: center;
    }

    #headText > a {
        display: flex;
        width: 12em;
        height: 4em;
        background-color: rgb(5, 68, 78);
        color: azure;
        margin: auto;
        margin-top: 3em;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: larger;
    }

    #headText > a:hover {
        background-color: rgb(69, 133, 141)
    }

    #headText-logo {
        background-image: url(../../imagens/instagram-logo.webp);
        background-size: contain;
        margin-left: 4px;
        width: 40px;
        height: 40px;
    }

    #M {
        width: 25em;
        display: block;
        height: 25em;
        background-image: url(../../imagens/M.png);
        background-size: contain;
        position: absolute;
        right: 15vw;
        top: 7em;
    }

    #contorno {
        background-image: url(../../imagens/contorno.png);
        background-size: contain;
        width: 100%;
        height: 100%;
        animation: rotate 20s linear infinite
    }

    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    #sobre {
        height: 42em;
        padding: 1px;
        overflow: hidden;
    }

    #sobre > div:nth-child(1) {
        width: 80%;
        height: 40em;
        margin: auto;
        margin-top: 7em;
        display: grid;
        grid-template-columns: 3fr 4fr;
    }

    #proced1 {
        width: 30em;
    }

    #proced1 > div {
        background-color: rgb(0, 105, 122);
        height: 30em;
        width: 35vw;
        position: absolute;
        left: 5em;
        transform: translateY(4em)
    }

    #img1 {
        transition: 1s;
        opacity: 0;
    }

    #img1.animating {
        animation: left-to-right 1s ease-in-out;
        animation-fill-mode: forwards;
    }

    @keyframes left-to-right {
        0% {
            left: -20vw;
            opacity: 0;
        }

        100% {
            left: 1vw;
            opacity: 1;
        }
    }

    #img1 {
    background-image: url(../../imagens/foto-principal-1.jpeg);
    background-position: center right;
    background-size: cover;
    box-shadow: -3px 4px 6px rgba(0, 0, 0, 0.425);
    width: 100%;
    height: 100%;
    position: relative;
    left: 4em;
    bottom: 3em;
    }

    #proced1Text {
        text-align: center;
        position: relative;
        margin-left: auto;
        width: 40vw;
        padding-top: 5em;
        transition: 1s;
        opacity: 0;
    }

    #proced1Text.animating {
        animation: bottom-to-top 1s ease-out;
        animation-fill-mode: forwards;
    }

    @keyframes bottom-to-top {
        0% {
            bottom: -20vh;
            opacity: 0;
        }

        100% {
            bottom: 1vh;
            opacity: 1;
        }
    }

    .interactive > h2 {
        font-size: 44px;
        font-family: var(--ProcedText-h2);
        margin: auto;
        margin-bottom: 20px;
        width: fit-content;
        border-radius: 4px;
    }

    .interactive > p {
        font-size: 28px;
        font-family: "Lora", Arial, Helvetica, sans-serif;
        text-align: justify;
    }

    #sobre > div:nth-child(2) {
        height: 40em;
        width: 25em;
        position: absolute;
        top: 60em;
        right: 0px;
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .decoracao {
        position: absolute;
        rotate: 45deg;
        height: 400px;
        width: 400px;
        right: -200px;
        border: 20px solid rgba(128, 128, 128, 0.326);
    }

    .decoracao2 {
        position: absolute;
        rotate: 45deg;
        height: 300px;
        width: 300px;
        right: -200px;
        border: 20px solid rgba(128, 128, 128, 0.326);
    }

    #sobre2 {
        height: 42em;
        overflow: hidden;
    }

    #sobre2 > div {
        width: 95%;
        height: 40em;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 3fr);
    }

    #proced2Text {
        text-align: center;
        padding: 7em;
        position: relative;
        width: 40vw;
        opacity: 0;
    }

    #proced2Text.animating {
        animation: bottom-to-top 1s ease-out;
        animation-fill-mode: forwards;
    }

    #proced2 > div {
        min-width: 15vw;
        max-width: 30vw;
        height: 30em;
        background-color: rgb(0, 105, 122);
        position: relative;
        left: 5em;
        margin-top: 70px;
        transition: 1s;
    }

    #img2 {
        background-image: url(../../imagens/proced2.jfif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        position: relative;
        right: 2em;
        top: 1.5em;
        box-shadow: 4px -4px 6px rgba(0, 0, 0, 0.349);
        transition: 1s;
        opacity: 0;
    }

    #img2.animating {
        animation: right-to-left 1s ease-in-out;
        animation-fill-mode: forwards;
    }

    @keyframes right-to-left {
        0% {
            right: -15vw;
            opacity: 0;
        }

        100% {
            right: 1.5vw;
            opacity: 1;
        }
    }

    #estudio {
        position: relative;
        left: -5vw;
        background-color: rgb(0, 105, 122);
        height: 57em;
        width: 110vw;
        rotate: 7deg;
        z-index: -1;
    }

    #crosspilates {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90vw;
        height: 400px;
        rotate: -7deg;
    }

    #crosspilates-foto {
        position: relative;
        display: flex;
        gap: 2%;
        top: -5vw;
        height: 100%;
        max-width: 50em;
        filter: drop-shadow(5px 6px 7px rgba(0, 0, 0, 0.171));
        margin-top: 10px;
    }

    .e-fotos {
        background-size: 650%;
        background-repeat: no-repeat;
        height: 100%;
        width: 19%;
        text-align: center;
        box-shadow: inset -8px -9px 10px rgba(0, 0, 0, 0.438);
        border-right: 4px solid rgb(20, 84, 95);
        border-bottom: 3px solid rgb(21, 52, 61);
    }

    .e-fotos::before {
        content: "";
        position: absolute;
        width: 19%;
        height: 100%;
        opacity: 0;
        background-color: rgb(43, 100, 121);
        border-right: 4px solid rgb(20, 84, 95);
        border-bottom: 3px solid rgb(21, 52, 61);
        z-index: 2;
        transform: translateX(-50%);
        transition: 2s;
    }
    
    #ef-1::before {background-position: 0%; border-bottom-left-radius: 50px; animation: refresh 7s linear infinite; animation-delay: 4500ms}
    #ef-2::before {background-position: 20%; animation: refresh 7s linear infinite; animation-delay: 5000ms}
    #ef-3::before {background-position: 40%; animation: refresh 7s linear infinite; animation-delay: 5500ms}
    #ef-4::before {background-position: 60%; animation: refresh 7s linear infinite; animation-delay: 6000ms}
    #ef-5::before {background-position: 80%; border-top-right-radius: 50px; animation: refresh 7s linear infinite; animation-delay: 6500ms}

    #ef-1 {background-position: 0%; border-bottom-left-radius: 50px; animation: e1 7s linear infinite; animation-delay: 0ms;}
    #ef-2 {background-position: 20%; animation: e2 7s linear infinite; animation-delay: 500ms;}
    #ef-3 {background-position: 40%; animation: e3 7s linear infinite; animation-delay: 1000ms;}
    #ef-4 {background-position: 60%; animation: e4 7s linear infinite; animation-delay: 1500ms;}
    #ef-5 {background-position: 80%; border-top-right-radius: 50px; animation: e5 7s linear infinite; animation-delay: 2000ms;}

    @keyframes e1 {0% {background-position: 0%;} 100% {background-position: 10%;}}
    @keyframes e2 {0% {background-position: 20%;} 100% {background-position: 30%;}}
    @keyframes e3 {0% {background-position: 40%;} 100% {background-position: 50%;}}
    @keyframes e4 {0% {background-position: 60%;} 100% {background-position: 70%;}}
    @keyframes e5 {0% {background-position: 80%;} 100% {background-position: 90%;}}
    @keyframes refresh {0% {opacity: 0} 25% {opacity: 0;} 33% {opacity: 1} 37% {opacity: 1;} 70% {opacity: 0}}

    #crosspilates-desc {
        height: 100%;
        width: 80%;
        margin: auto;
    }

    .estudio-h2 {
        position: relative;
        margin: auto;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-size: 40px;
        filter: drop-shadow(1px 1px 3px rgb(0, 0, 0));
        border-bottom: 1px solid rgb(255, 255, 255);
        color: rgba(255, 255, 255, 0.975);
        width: 270px;
        margin-top: 10px;
    }

    .estudio-p {
        color: white;
        text-align: justify;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        margin-top: 10px;
    }

    #fotodep {
        position: relative;
        display: grid;
        height: 35vw;
        grid-template-columns: repeat(2, 1fr);
        rotate: -7deg;
        top: 30em;
    }

    #vetor {
        background-image: url(../../imagens/vetor.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    #fotodep-desc {
        width: fit-content;
        margin-left: auto;
    }

    #fotodep-desc > p {
        width: clamp(430px, 35vw, 50em);
        text-align: justify;
    }

    #fotodep-container {
        position: absolute;
        overflow: hidden;
        top: -5em;
        border-radius: 10px;
        right: 15vw;
        height: 31em;
        width: 30vw;
    }

    #fotodep-container::before {
        content: "";
        display: block;
        position: absolute;
        left: -10vw;
        top: 2em;
        background-color: rgb(255, 255, 255);
        rotate: -10deg;
        width: 170%;
        height: 75%;
        z-index: -2;
        opacity: 0;
    }

    #fotodep-container.animating::before {
        animation: lineRotation 2s ease-out;
        animation-fill-mode: forwards;
    }

    @keyframes lineRotation {
        0% {
            opacity: 0;
            rotate: -10deg;
        }

        100% {
            opacity: 1;
            rotate: 30deg;
        }
    }

    #fotodep-container::after {
        content: "";
        display: block;
        position: absolute;
        border-radius: 10px;
        background-color: rgb(0, 105, 122);
        height: 99%;
        width: 99%;
        z-index: -1;
        transform: translate(0.115vw, 0.18em);
    }

    #fotodep-foto {
        background-image: url(../../imagens/fotodep.jpeg);
        background-size: cover;
        background-position: bottom;
        border-radius: 10px;
        position: absolute;
        top: .55em;
        width: 90%;
        height: 90%;
        transform: translate(1.5vw, 20em);
        opacity: 0;
    }

    #fotodep-container.animating #fotodep-foto {
        animation: depAppear 1.2s ease-out;
        animation-fill-mode: forwards;
    }

    @keyframes depAppear {
        0% {
            opacity: 0;
            transform: translate(1.5vw, 20em);
        }

        100% {
            opacity: 1;
            transform: translate(1.5vw, 1em);
        }
    }

    #fotodep::before {
        content: "";
        position: absolute;
        display: block;
        width: 105%;
        height: 105%;
        border-radius: 5px;
        transform: translate(-2.5%, -2.5%);
    }

    #nutricionista-container {
        display: grid;
        position: relative;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 8em;
        height: 35em;
    }

    #nutricionista-foto-container {
        margin-left: auto;
        width: 35em;
        height: 100%;
    }

    @keyframes slowFall {
        0% {
            top: -10vh;
            opacity: 0;
        }

        30% {
            opacity: 1;
        }

        100% {
            top: 1vh;
            opacity: 1;
        }
    }

    .nutri-fruta {
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        opacity: 0;
    }

    #nutri-fruta1 {
        background-image: url(../../imagens/fruta1.svg);
        width: 20em;
        height: 20em;
        transform: translate(-2em, -12em);
    }

    #nutri-fruta2 {
        background-image: url(../../imagens/fruta2.svg);
        width: 13em;
        height: 13em;
        transform: translate(23em, 1em);
        z-index: 1;
    }

    #nutri-fruta3 {
        background-image: url(../../imagens/fruta3.svg);
        width: 35em;
        height: 35em;
        transform: translate(-8em, 2em);
    }

    #nutricionista-foto-container.animating > .nutri-fruta {
        animation: slowFall 0.8s ease-out;
        animation-fill-mode: forwards;
    }

    #nutricionista-foto-container.animating > #nutri-fruta2 {animation-delay: .3s;}
    #nutricionista-foto-container.animating > #nutri-fruta3 {animation-delay: .6s}

    #nutri-imagem {
        background-image: url(../../imagens/nutricionista-imagem.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        top: -8em;
        width: 100%;
        height: 45em;
        opacity: 0;
    }

    #nutricionista-foto-container.animating > #nutri-imagem {
        animation: nutriVisible 1s ease-out;
        animation-fill-mode: forwards;
    }

    @keyframes nutriVisible {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    #nutricionista-desc {
        width: clamp(10em, 50vw, 60em);
        height: 38.2em;
        position: relative;
        right: 3em;
    }


    #nutricionista-desc > h2 {
        margin: auto;
        margin-top: 1vw;
        margin-bottom: 1em;
        font-family: "KyivType", Arial, Helvetica, sans-serif;
        line-height: 32px;
        width: fit-content;
        position: relative;
        font-size: clamp(30px, 2em, 2.1em);
        opacity: 0;
    }

    #nutricionista-desc > h2::before {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        border-bottom: 3px solid rgb(0, 105, 122);
        transform: translateY(1.06em);
    }

    #nutricionista-desc > p {
        text-align: justify;
        font-family: "Kumbh Sans";
        font-size: 1.2em;
        width: 85%;
        margin: auto;
        position: relative;
        opacity: 0;
    }

    #nutricionista-desc.animating > h2 {
        animation: textToTop 0.7s linear;
        animation-fill-mode: forwards;
    }

    #nutricionista-desc.animating > h2::before {animation: growToRight 0.9s ease-out; animation-fill-mode: forwards;animation-delay: 1s;}
    #nutricionista-desc.animating > p:nth-of-type(1) {animation: textToTop 0.4s linear;animation-fill-mode: forwards;animation-delay: 0.3s;
    }
    #nutricionista-desc.animating > p:nth-of-type(3) {animation: textToTop 0.4s linear;animation-fill-mode: forwards;animation-delay: 0.6s;
    }
    #nutricionista-desc.animating > p:nth-of-type(4) {animation: textToTop 0.4s linear;animation-fill-mode: forwards;animation-delay: 0.9s;
    }

    @keyframes textToTop {
        0% {
            top: 10vh;
            opacity: 0;
        }

        100% {
            top: 1vh;
            opacity: 1;
        }
    }

    @keyframes growToRight {
        0% {
            width: 0;
        }

        100% {
            width: 2.74em;
        }
    }

    #fisioterapia {
        height: 20em;
    }

    #video-container {
        position: relative;
        top: 0;
        display: flex;
        justify-content: start;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    video {
        width: 100%;
        height: auto;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        height: 7em;
    }

    footer > p {
        color: white;
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 17px;
    }
}