@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&family=Parisienne&family=Sail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lora:ital,wght@0,400..700 ;1.400..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --ProcedText-h2: "Josefin Sans", Arial, Helvetica;
}

@media screen and (max-width: 799px) {
    html, body {
        overflow-x: hidden;
    }
    
    #main {
        background-size: cover;
        background-image: url(../../imagens/floresta-celular.jpg);
        background-position: center;
        background-repeat: no-repeat;
        height: 35em;
        padding: 0.1px;
    }

    #headText {
        width: 20em;
        height: 23em;
        margin: auto;
        margin-top: 8.5em;
    }

    .button {
        transition: 0.2s;
    }

    #headText > p {
        color: white;
        font-size: 50px;
        font-family: "Parisienne", "Arial";
        text-align: center;
        text-shadow: 2px 2px 1px black;
        hyphens: none;
    }

    #headText > a {
        display: flex;
        width: 12em;
        height: 4em;
        background-color: rgba(5, 68, 78, 0.707);
        color: white;
        border: 1px solid black;
        border-radius: 20px;
        margin: auto;
        margin-top: 3em;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: larger;
    }

    #sobre {
        height: 42em;
        padding: 1px;
        overflow: hidden;
    }

    #sobre > div:nth-child(1) {
        width: 80%;
        height: 38em;
        margin: auto;
        margin-top: 40px;
        display: flex;
        flex-direction: column-reverse;
    }

    #proced1 {
        margin: auto;
        margin-top: 70px;
        min-width: 280px;
        width: 50vw;
    }

    #proced1 > div > div:nth-child(1) {
        transition: 1s;
        opacity: 0;
    }

    #proced1 > div > div.animating {
        animation: left-to-right 1s ease-in-out;
        animation-fill-mode: forwards;
    }

    @keyframes left-to-right {
        0% {
            left: -20vw;
            opacity: 0;
        }

        100% {
            left: 4vw;
            opacity: 1;
        }
    }

    #proced1 > div:nth-child(1) {
        background-color: rgb(0, 105, 122);
        height: 15em;
        position: relative;
    }

    #proced1 > div:nth-child(1) > div {
    background-image: url(../../imagens/foto-principal-1.jpeg);
    background-position: center right;
    background-size: cover;
    box-shadow: -3px 4px 6px rgba(0, 0, 0, 0.425);
    width: 100%;
    height: 100%;
    position: relative;
    top: -2em;
    }

    #proced1Text {
        text-align: center;
        position: relative;
        transition: 1s;
    }

    .interactive > h2 {
        font-size: 30px;
        font-family: var(--ProcedText-h2);
        margin: auto;
        margin-bottom: 20px;
        width: min-content;
        border-radius: 4px;
    }

    .interactive > p {
        font-size: 20px;
        font-family: "Lora", Arial, Helvetica, sans-serif;
        text-align: justify;
    }
    
    #sobre > div:nth-child(2) {
        height: 30em;
        width: 15em;
        position: absolute;
        top: 60em;
        right: 0px;
        display: flex;
        align-items: center;
        overflow: hidden;
        z-index: -1;
    }

    .decoracao {
        position: absolute;
        rotate: 45deg;
        height: 200px;
        width: 200px;
        right: -200px;
        border: 20px solid rgba(128, 128, 128, 0.326);
    }

    .decoracao2 {
        position: absolute;
        rotate: 45deg;
        height: 300px;
        width: 300px;
        right: -200px;
        border: 20px solid rgba(128, 128, 128, 0.326);
    }

    #sobre2 {
        height: 50em;
        overflow: hidden;
    }

    #sobre2 > div {
        width: 95%;
        height: 40em;
        margin: auto;
        display: grid;
        grid-template-rows: repeat(2, 3fr);
    }

    #proced2Text {
        text-align: center;
        position: relative;
        width: 80vw;
        margin: auto;
    }

    #proced2 > div {
        height: 20em;
        width: 70vw;
        background-color: rgb(0, 105, 122);
        position: relative;
        margin: auto;
        margin-top: 70px;
        transition: 1s;
    }

    #proced2 > div > div {
        background-image: url(../../imagens/proced2.jfif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        top: -20px;
        position: relative;
        box-shadow: -4px 4px 6px rgba(0, 0, 0, 0.349);
        transition: 1s;
        opacity: 0;
    }

    #proced2 > div > div.animating {
        animation: right-to-left 1s ease-in-out;
        animation-fill-mode: forwards;
    }

    @keyframes right-to-left {
        0% {
            right: -15vw;
            opacity: 0;
        }

        100% {
            right: -10vw;
            opacity: 1;
        }
    }

    #estudio {
        position: relative;
        background-color: rgb(0, 105, 122);
        padding: 1em;
        top: 2vw;   
    }

    #estudio h2 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 30px;
        color: white;
        border-bottom: 1px solid white;
        width: fit-content;
        margin: auto;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.603);
    }

    #estudio p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 18px;
        text-align: justify;
        color: white;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 90%;
    }

    #crosspilates {
        display: flex;
        flex-direction: column-reverse;
    }

    #crosspilates-foto {
        background-image: url(../../imagens/clinica-interior.jpg);
    }

    #fotodep-foto {
        background-image: url(../../imagens/fotodep.jpeg)
    }

    #crosspilates-foto, #fotodep-foto {
        height: 15em;
        width: 95%;
        margin: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 1em;
    }

    #nutricionista-container {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 30px;
    }

    #nutricionista-container h2::before {
        content: "";
        display: block;
        background-color: rgb(0, 105, 122);
        height: 3px;
        width: 2.74em;
        transform: translateY(1.2em);
    }

    #nutricionista-container p {
        width: 90%;
        margin: auto;
    }

    #nutricionista-foto-container {
        margin: auto;
        width: clamp(20px, 100vw, 20em);
        height: 30em;
        position: relative;
    }

    .nutri-fruta {
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        opacity: 1;
    }

    #nutri-fruta1 {
        background-image: url(../../imagens/fruta1.svg);
        width: 18em;
        height: 18em;
        transform: translate(-3em, -4em);
    }

    #nutri-fruta2 {
        background-image: url(../../imagens/fruta2.svg);
        width: 9em;
        height: 12em;
        transform: translate(13em, 10em);
        background-position: right;
        z-index: 1;
    }

    #nutri-fruta3 {
        background-image: url(../../imagens/fruta3.svg);
        width: 27em;
        height: 27em;
        transform: translate(-8em, 8em);
    }

    #nutri-imagem {
        background-image: url(../../imagens/nutricionista-imagem.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        width: 100%;
        height: 35em;
        filter: drop-shadow(6px 6px 7px rgba(0, 0, 0, 0.541))
    }

    #rpg-text > h2 {
        font-size: 30px;
        font-family: var(--ProcedText-h2);
        margin: auto;
        margin-bottom: 20px;
        width: min-content;
    }

    #rpg-text > p {
        font-size: 20px;
        font-family: "Lora", Arial, Helvetica, sans-serif;
        text-align: justify;
        width: 90%;
        margin: auto;
    }
}