@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomolhari&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Karla:ital,wght@0,200..800;1,200..800&family=Mohave:ital,wght@0,300..700;1,300..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 800px) {
    #clinicafoto {
        background-image: url(../../imagens/clinica.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 85vh;
    }

    #info-box {
        position: relative;
        top: calc(100% - 10em);
        left: 1em;
        height: 9em;
        width: 21em;
        background-color: rgba(0, 0, 0, 0.678);
    }

    #info-box > h2 {
        margin: auto;
        font-family: "Judson", Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: 1;
        width: fit-content;
        color: white;
    }

    #info-box > hr {
        width: 95%;
        margin: auto;
        margin-bottom: 4px;
        border: none;
        height: 1px;
        background-color: #EEAC6F;
    }

    #info-box > p {
        text-align: center;
        font-family: "K2D", Arial, Helvetica, sans-serif;
        font-style: italic;
        font-weight: 1;
        color: white;
    }

    #estado-clinica {
        height: 5em;
    }

    #estado-clinica > h2 {
        text-align: center;
        font-family: "Karla", Arial, Helvetica, sans-serif;
        font-weight: 350;
        color: red;
    }

    #estado-clinica > p {
        text-align: center;
        font-family: "K2D", Arial, Helvetica, sans-serif;
        color: white;
    }

    #horario {
        color: rgb(255, 255, 157)
    }

    #map-container {
        position: relative;
        margin-left: auto;
        top: calc(100% - 25.3em);
        right: 1em;
        width: 22em;
        height: 15em;
        border: 4px solid black;
    }

    iframe {
        width: 100%;
        height: 100%;
    }

    #informacoes {
        border-top: 2px solid black;
        height: 25em;
    }

    #informacoes > h2 {
        text-align: center;
        font-family: "K2D", Arial, Helvetica, sans-serif;
        font-size: 40px;
        color: rgb(0, 105, 122);
        margin-top: 0.4em;
    }

    table {
        margin: auto;
        border-spacing: 0px;
        border-collapse: collapse;
    }

    table tr:first-child {
        height: 2em;
        font-size: 28px;
        background-color: rgb(202, 202, 202);
    }

    table tr:not(:first-child) {
        height: 3em;
        font-family: "Jomolhari";
    }

    table td {
        width: clamp(4em, 15vw, 160px);
        border-right: 2px solid black;
        border-left: 2px solid rgb(0, 0, 0);
        text-align: center;
    }

    #phone {
        margin-top: 20px;
    }

    #informacoes > p {
        text-align: center;
        font-family: "K2D", Arial, Helvetica, sans-serif;
        font-size: 19px;
    }

    #informacoes > hr {
        width: 10em;
        margin: auto;
        border: none;
        height: 1px;
        background-color: black;
    }
    
    footer {
        display: flex;
        height: 7em;
        background-color: black;
        align-items: center;
        justify-content: center;
    }

    footer > p {
        color: white;
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 17px;
    }
}