@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomolhari&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Karla:ital,wght@0,200..800;1,200..800&family=Mohave:ital,wght@0,300..700;1,300..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 800px) {
    #clinicafoto {
        background-image: url(../../imagens/clinica-interior.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 85vh;
    }

    #info-box {
        position: relative;
        top: calc(100% - 10em);
        border-top: 2px solid black;
        border-top-right-radius: 21px;
        border-right: 2px solid black;
        height: 10em;
        width: 25vw;
        background-color: rgb(0, 105, 122);
    }

    #info-box > h2 {
        margin: auto;
        font-family: "Judson", Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: 1;
        width: fit-content;
        color: white;
    }

    hr {
        width: 95%;
        margin: auto;
        margin-bottom: 4px;
        border: none;
        height: 1px;
        background-color: #EEAC6F;
    }

    #info-box > p {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        font-weight: 1;
        color: white;
    }

    #estado-clinica {
        height: 5em;
    }

    #estado-clinica > h2 {
        text-align: center;
        font-family: "Karla", Arial, Helvetica, sans-serif;
        font-weight: 350;
        margin-top: 10px;
        text-shadow: 0px 0px 2px black;
        color: red;
    }

    #estado-clinica > p {
        text-align: center;
        font-family: "K2D", Arial, Helvetica, sans-serif;
        color: white;
    }

    #horario {
        color: rgb(255, 255, 157)
    }

    #informacoes {
        background-color: rgb(0, 105, 122);
        border-top: 2px solid black;
        height: 30em;
    }
    
    footer {
        display: flex;
        height: 7em;
        background-color: black;
        align-items: center;
        justify-content: center;
    }

    footer > p {
        color: white;
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 17px;
    }
}