@charset "utf-8";

@media screen and (min-width: 1020px) {
    #clinicafoto {
        background-image: url(../../imagens/trabalhador.jpg);
        background-position: center;
        height: 35em;
    }

    #local {
        height: 40em;
        padding: 1px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #local > div:nth-child(1) {
        margin-left: 7vw;
        margin-top: 80px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        width: 30em;
        background: rgb(199, 199, 199);
        height: 23em;
    }

    #local > div:nth-child(1) > h2 {
        text-align: center;
    }

    #local > div:nth-child(1) > p {
        text-align: center;
    }

    #local > div > iframe {
        margin-top: 80px;
        height: 29em;
    }

    footer {
        display: flex;
        height: 7em;
        background-color: black;
        align-items: center;
        justify-content: center;
    }

    footer > p {
        color: white;
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 17px;
    }
}