@charset "utf-8";

@media screen and (max-width: 1144px) {
    #intro-titulo {
        content: url(../../../imagens/peeling-titulo.svg)
    }
}

@media screen and (min-width: 1145px) {
    #introduction {
        background-image: url(../../../imagens/peeling-fundo.jpg);
        background-position: 0 -60vw;
    }

    #intro-titulo {
        content: url(../../../imagens/peeling-titulo.svg);
    }

    #intro-text {
        left: -7vw;
    }

    #sobre-image {
        content: url(../../../imagens/blefaroplastia-imagem1.webp);
    }

    #aed-imagem1 {
        background-image: url(../../../imagens/aed-imagem1.png);
    }

    #aed-imagem2 {
        background-image: url(../../../imagens/aed-imagem2.png);
    }
}